<div class="row">
  <div class="col-md-6">
    <h3>17.06.2022</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>The Carpentries: Intro </td> </tr>
      <tr> <td>10:45</td>  <td><a href="https://librarycarpentry.org/lc-data-intro/">Regular Expressions </a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://librarycarpentry.org/lc-data-intro/">Regular Expressions (part 2) </a></td> </tr>
      <tr> <td>15:00</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/">OpenRefine </a></td> </tr>
      <tr> <td>17:45</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>18.06.2022</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/">OpenRefine (part 2) </a></td> </tr>
      <tr> <td>10:00</td>  <td><a href="https://librarycarpentry.org/lc-shell/">Unix Shell</a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://librarycarpentry.org/lc-shell/">Unix Shell (part 2) </a></td> </tr>
      <tr> <td>14:00</td>  <td>Discussion</td> </tr>
      <tr> <td>15:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
