<div id="shell-setup"> {% comment %} Start of 'shell' section. {% endcomment %}
  <h3>The Bash Shell</h3>
  <p>
    Bash is a commonly-used shell that gives you the power to do simple tasks
    more quickly. Please find setup instructions in
    the <a href="https://librarycarpentry.org/lc-shell/setup.html">lesson</a>.
  </p>
</div>

<div id="openrefine-setup">
  <h3>OpenRefine</h3>
  <p>
    OpenRefine is a tool to clean up and organize messy data. Please find instructions to install it and the data used in the lesson in the <a href="https://librarycarpentry.org/lc-open-refine/setup.html">lesson</a>.
  </p>
</div>

<div id="git-setup"> {% comment %} Start of 'Git' section. GitHub browser compatibility
  is given at https://help.github.com/articles/supported-browsers/{% endcomment %}
  <h3>Git</h3>
  <p>
    Git is a version control system that lets you track who made changes
    to what when and has options for easily updating a shared or public
    version of your code
    on <a href="https://github.com/">https://github.com</a>.
  </p>
  <p>
    Follow the instructions on
    the <a href="https://librarycarpentry.org/lc-git/setup.html">lesson</a> to
    install Git on your system.
  </p>
  <p>
    You will need an account at <a href="https://github.com/">github.com</a>
    for parts of the Git lesson. Basic GitHub accounts are free. We encourage
    you to create a GitHub account if you don't have one already.
    Please consider what personal information you'd like to reveal. For
    example, you may want to review these
    <a href="https://help.github.com/articles/keeping-your-email-address-private/">instructions
      for keeping your email address private</a> provided at GitHub. You will
      need a
    <a href="https://help.github.com/articles/supported-browsers/">supported
    web browser</a>.
  </p>
</div>

<div id="sql">
  <h3>SQL</h3>
    <h4>DB Browser for SQLite</h4>
 <p>
You will need to install DB Browser for SQLite to complete these lessons. DB Browser for SQLite provides a graphical user interface for connecting to and interacting with a SQLite database. This application bundles SQLite, so you won’t need to install SQLite separately.

Note: on Windows, the PortableApp download is recommended as the regular version may take a long time to install on certain systems.
Download the data
 </p>
<p>  
To import data, you’ll need to open DB Browser for SQLite and download a zip file containing the data files for this tutorial.
 </p>
 <p> 
    Download the data files doaj-article-sample.zip from Zenodo.
    Open the zip file with the zip utlity on your machine and save the folder and files to a location where you can easily find them. For example, your Desktop.
    Contained in the zip file are two files, doaj-article-sample.db and doaj-article-sample.db.sql. You can either open the database file (less steps) or import the SQL file (more steps).
  </p>
  
<h4>Open the database file</h4>
<p>
    Open DB Browser for SQLite.
    Choose “File” > “Open Database” from the menu bar at the top of your screen.
    Navigate to where you saved the doaj-article-sample folder and/or files. For example, your Desktop.
    Select “doaj-article-sample.db”.
</p>
<h4>Import the SQL file</h4>
<p>
    Open DB Browser for SQLite.
    Choose “File” > “Import” > “Database” from SQL file from the menu bar at the top of your screen.
    Navigate to where you saved the doaj-article-sample folder and/or files. For example, your Desktop.
    Select “doaj-article-sample.db.sql”.
    You will be prompted to “Save As” (i.e. this is the name of the database).
    Type “doaj-article-sample” in the “Save as” box.
    Make sure that “SQLite database files” is selected in the drop down and that you save the database to a location where you can easily find it, again, like your Desktop.
    Click “Save”.
    You should see an “Executing SQL…” prompt and an “Import completed.” prompt when finished.
    Click “OK”.
    You will see one more prompt which says, “Do you want to save the changes made to the database file…”.
    Click “Save”.
</p>
  </div>


